html {
  font-size: 62.5%;
  font-weight: 100;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  padding: 1rem 2rem;
}
p {
  color: #000000;
}
.Title-logo {
  font-size: 5rem;
}
 .Title-Container {
  /* display: flex; */
  flex-direction: column;
  height: 25rem;
  padding-top: 1rem;
} 
.Title {
  width: 100%;
  text-align: center;
}
.Title-logo {
  color: #000000;
}
.year {
  color: #3240e4;
}
.smart {
  color: orange;
}
.india {
  color: #3240e4;
}
.hack {
  color: green;
}
.crb-logo {
  text-align: center;
  margin: 3rem 0;
  /* color: #030f18; */
}

.text-container h4{
  margin: 4rem 0 3rem 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
}
.action-buttons-1,
.action-buttons-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-global {
  background: #6f747d;
  background-image: -webkit-linear-gradient(top, #6f747d, #6f747d);
  background-image: -moz-linear-gradient(top, #6f747d, #6f747d);
  background-image: -ms-linear-gradient(top, #6f747d, #6f747d);
  background-image: -o-linear-gradient(top, #6f747d, #6f747d);
  background-image: linear-gradient(to bottom, #6f747d, #6f747d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 1rem;
  font-family: Arial;
  color: #030f18;
  font-size: 1.8rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  margin: 5rem 5rem;
}

.btn-global:hover {
  background: #414449;
  background-image: -webkit-linear-gradient(top, #414449, #414449);
  background-image: -moz-linear-gradient(top, #414449, #414449);
  background-image: -ms-linear-gradient(top, #414449, #414449);
  background-image: -o-linear-gradient(top, #414449, #414449);
  background-image: linear-gradient(to bottom, #414449, #414449);
  text-decoration: none;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
  .crb-logo{
    font-size: 2rem;
  }
  p{
    font-size: 2rem;
  }
  .Title-logo{
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 44%;
  }
}


