html {
  font-size: 62.5%;
  font-weight: 100;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  padding: 1rem 2rem;
}
p {
  color: #000000;
}
.Title-logo {
  font-size: 5rem;
}
.Title-Container {
  /* display: flex; */
  flex-direction: column;
  height: 25rem;
  padding-top: 1rem;
}
.Title {
  width: 100%;
  text-align: center;
}
.Title-logo {
  color: #000000;
}
.year {
  color: #3240e4;
}
.smart {
  color: orange;
}
.india {
  color: #3240e4;
}
.hack {
  color: green;
}
.crb-logo {
  text-align: center;
  margin: 3rem 0;
  /* color: #030f18; */
}

.text-container h4{
  margin: 4rem 0 3rem 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
}
.action-buttons-1,
.action-buttons-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-global {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #444e4f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  /* border-radius: 1rem; */
  padding: 1rem 2rem 1rem 2rem;
  margin: 5rem 5rem;
}

.btn-global:hover {
  background: #303738;
  text-decoration: none;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
  .crb-logo{
    font-size: 2rem;
  }
  p{
    font-size: 2rem;
  }
  .Title-logo{
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 44%;
  }
}


