.home-container {
    height: 100vh;
    justify-content: space-between;
    height: 100vh;
    background-image: url("../Home/calculate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
  }