.ExcelTable2007 {
    border: 1px solid black;
    color: black;
    border-width: 1px 0px 0px 1px;
    font-size: 11pt;
    font-family: Calibri;
    font-weight: 100;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 10px;
}

.ExcelTable2007 TH {
    color: black;
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #9EB6CE;
    border-width: 0px 1px 1px 0px;
    height: 17px;
    line-height: 17px;
}

.ExcelTable2007 TD {
    border: 0px;
    background-color: white;
    color: black;
    padding: 0px 4px 0px 2px;
    border: 1px solid #D0D7E5;
    border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
    border: 0px;
    color: black;
    background-color: white;
    font-weight: bold;
}

.ExcelTable2007 TD.heading {
    background-color: #E4ECF7;
    color: black;
    text-align: center;
    border: 1px solid #9EB6CE;
    border-width: 0px 1px 1px 0px;
    font-weight: bold;
}

.ExcelTable2007 TH.heading {
    color: black;
    background-color: white;
    background-repeat: none;
}

TH {
    text-align: center;
}

.restrict-card {
    /* height: 175px; */
    overflow-y: overlay;
}